html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.top-nave {
  min-height: 80vh;
  background: linear-gradient(
    110.39deg,
    #b4b9ec 29.47%,
    rgba(235, 135, 171, 0) 105.11%
  );
  background: url(./assets/i.jfif) no-repeat center center;
  background-size: cover;
  background-blend-mode: lighten;
}

a.nav-link {
  font-weight: bold;
  letter-spacing: 0.1em;
}

a.nav-link:hover {
  transform: scale(1.25);
}

.sec-title {
  border-bottom: rgb(157, 157, 253) solid 10px;
  width: 150px;
}
/* 
.sec-content {
  display: flex;
  justify-content: space-between;
  word-spacing: 5px;
} */

.sec-content i {
  font-size: 4rem;
}

.project {
  background-color: #d4e8dd;
}

.cc {
  background-color: #f4cad8;
  min-height: 4rem;
  /* border-radius: 5px; */
}

.icons {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
}

p {
}

footer {
  position: relative;
}
.up {
  color: rgb(0, 0, 0);
  position: absolute;
  right: 10px;
  top: -20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: rgb(255, 255, 255);
  font-size: 2rem;
  border: 1px black solid;
}
